<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>

  <appSettings>
    <!-- The estimated battery level in % - if lower than this value - shutdown computer. -->
    <add key="MinimumBatteryLevel" value="30" />
    <!-- The estimated run time in minutes - it is not reliable on some computers (reported as either 0 or an excessively big value)
         - if lower than this value - shutdown computer. -->
    <add key="MinimumRunTime" value="10" />
    <!-- The battery level and run time check interval (format 'hh:mm:ss'). -->
    <add key="BatteryCheckInterval" value="00:00:30" />
  </appSettings>

  <!-- 'throwExceptions="true"' will make NLog crash the application if it is misconfigured or doesn't have access to write to specified targets.
       Set to 'false' to make it completely ignore any configuration or access errors. -->
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        throwExceptions="true">

    <extensions>
      <!-- Contains "DiscardDuplicates" NLog wrapper target -->
      <add assembly="UpsMonitor" />
    </extensions>

    <targets>
      <!-- Discard duplicate log messages like "Battery level is 100" -->
      <target xsi:type="DiscardDuplicates" name="file">
        <!-- Write a rolling log file in Logs folder, create new file every day and retain up to 7 files (1 week of logs).
             The service account must have write access to Logs folder. -->
        <target xsi:type="File"
                layout="${longdate} ${logger} ${message}"
                fileName="${basedir}/logs/log.log"
                archiveFileName="${basedir}/logs/log.{#}.txt"
                archiveEvery="Day"
                archiveNumbering="Rolling"
                maxArchiveFiles="7"
                concurrentWrites="true" />
      </target>
    </targets>

    <rules>
      <!-- Set minlevel to 'Info' to reduce verbosity. -->
      <logger name="*" minlevel="Trace" writeTo="file" />
    </rules>

  </nlog>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

</configuration>